@font-face {
  font-family: gurbaniakharthicktrue;
  src: url(../fonts/gurbaniakharthicktrue-webfont.ttf);
}

@font-face {
  font-family: prabhki;
  src: url(../fonts/prabhki.ttf);
}

@font-face {
  font-family: gurbaniakhar;
  src: url(../fonts/gurbaniakhar.ttf);
}

h1{
font-family: gurbaniakhar;
font-size: 500%;
text-align: center;
padding-top: 30px;
color: #0000FF
}
